{
  "ApiVersion": "2.0",
  "Settings": {
    "RecentFiles": {
      "RecentFiles": [
        "Grid\\Generic\\DefaultGridViewStyles.xaml"
      ],
      "SelectedFile": "Grid\\Generic\\DefaultGridViewStyles.xaml"
    },
    "ProjectSettings": {
      "HighlightColors": false,
      "FilterColors": false,
      "PreviewSelection": false,
      "QuickPreview": true,
      "IgnoreDpi": false
    }
  }
}