<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Backend" value="Backend.exe" />
    <!--<add key="ApiUrl" value="http://127.0.0.1:112" />-->
    <!--<add key="ApiKey" value="00000000-0000-0000-0000-000000000000" />-->
    <add key="DownloadPath" value="%userprofile%\Downloads\" />
    <add key="LogFile" value="data/log_frontend.txt" />
    <add key="PluginsLocation" value="Plugins" />
    <add key="WebGatewayDomains" value="pear.ae" />
    <add key="DailyFeedWidgetEnabled" value="False" />
  </appSettings>
</configuration>